#include "torabo_tsuki.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    excluded-positions = <
        31 // J
        32 // K
        33 // L
        46 // <
        36 // LEFT_SHIFT
        54 // LEFT_GUI
    >;

    require-prior-idle-ms = <200>;
};

&trackball_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    compatible = "zmk,input-listener";
    device = <&trackball>;

    input-processors = <&zip_temp_layer 1 10000>;
};
