#include "torabo_tsuki.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors/input_gestures_accel.dtsi>

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};

&pointer_accel {
    input-type = <INPUT_EV_REL>;
    codes = <INPUT_REL_X INPUT_REL_Y>;
};


&trackball_listener {
    input-processors = <
        &zip_temp_layer 1 3000
    >;
    
    scroller {
        layers = <5>;
        input-processors = <
            &pointer_accel
            &zip_xy_to_scroll_mapper
            &zip_xy_scaler 1 5
            &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        >;
    };
};

&zip_temp_layer {
    excluded-positions = <
        31 // J
        32 // K
        33 // L
        46 // <
        36 // LEFT_SHIFT
        54 // LEFT_GUI
    >;

    require-prior-idle-ms = <200>;
};
