#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    behaviors {
        Brackets1: Brackets1 {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKETS1";
            #binding-cells = <0>;
            bindings = <&HoldOrTap RIGHT_BRACKET LEFT_BRACKET>;
            tapping-term-ms = <120>;
        };

        HoldOrTap: HoldOrTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDORTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
            hold-trigger-on-release;
        };

        Brackets2: Brackets2 {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKETS2";
            #binding-cells = <0>;
            bindings = <&HoldOrTap RIGHT_BRACE LEFT_BRACE>;
            tapping-term-ms = <120>;
        };

        Brackets3: Brackets3 {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKETS3";
            #binding-cells = <0>;
            bindings = <&HoldOrTap GREATER_THAN LESS_THAN>;
            tapping-term-ms = <120>;
        };
    };

    macros {
        BracketsMacro: BracketsMacro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "BRACKETSMACRO";
        };

        BracketsMacro2: BracketsMacro2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "BRACKETSMACRO2";
        };

        BracketsMacro3: Brackets3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT>;
            label = "BRACKETS3";
        };

        Start: Start {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp O &kp H &kp A &kp Y &kp O &kp U &kp G &kp O &kp Z &kp A &kp I &kp M &kp A &kp S &kp U &kp DOT &kp S &kp I &kp G &kp Y &kp O &kp U &kp S &kp I &kp M &kp A &kp S &kp U &kp DOT &kp SPACE &kp ENTER>;
            label = "START";
        };

        End: End {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp O &kp T &kp S &kp U &kp K &kp A &kp R &kp E &kp S &kp A &kp M &kp A &kp D &kp E &kp S &kp I &kp T &kp A &kp DOT &kp T &kp A &kp I &kp K &kp I &kp N &kp N &kp S &kp I &kp M &kp A &kp S &kp U &kp DOT &kp SPACE &kp ENTER>;
            label = "END";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans                   &trans            &trans  &trans  &trans              &trans                           &trans       &trans  &trans     &trans   &trans           &trans
&lt 4 ESC                &kp Q             &kp W   &kp E   &kp R               &kp T                            &kp Y        &kp U   &kp I      &kp O    &kp P            &kp GRAVE
&mt LCTRL TAB            &kp A             &kp S   &kp D   &kp F               &kp G                            &kp H        &kp J   &kp K      &kp L    &lt 5 SEMICOLON  &kp MINUS
&kp LEFT_SHIFT           &kp Z             &kp X   &kp C   &kp V               &kp B     &trans  &trans         &kp N        &kp M   &kp COMMA  &kp DOT  &kp SLASH        &kp SQT
&mt LEFT_ALT LANGUAGE_2  &lt 0 LANGUAGE_2  &mo 5   &mo 0   &mt LEFT_GUI SPACE  &mkp MB1  &mo 2   &kp BACKSPACE  &lt 2 ENTER  &trans  &trans     &trans   &kp LANGUAGE_1   &kp LANGUAGE_1
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &mkp MB1  &mo 5     &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &mkp MB3  &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans          &trans      &trans    &trans                     &trans        &trans          &trans     &trans      &trans      &trans
&trans  &kp EXCL   &kp AT          &kp HASH    &kp AMPS  &kp PRCNT                  &kp CARET     &kp AMPS        &kp ASTRK  &kp LPAR    &kp RPAR    &trans
&trans  &kp N1     &kp N2          &kp N3      &kp N4    &kp N5                     &kp KP_PLUS   &kp KP_MINUS    &kp COLON  &Brackets2  &trans      &trans
&trans  &kp N6     &kp N7          &kp N8      &kp N9    &kp N0     &trans  &trans  &kp KP_EQUAL  &kp UNDERSCORE  &kp PIPE   &Brackets1  &Brackets3  &kp RIGHT_SHIFT
&trans  &kp RCTRL  &kp APOSTROPHE  &kp DOLLAR  &trans    &trans     &trans  &trans  &trans        &trans          &trans     &trans      &trans      &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans        &trans          &trans          &trans           &trans                     &trans  &trans    &trans    &trans    &trans  &trans
&trans  &kp NUMBER_6  &kp PAGE_DOWN   &kp UP_ARROW    &kp PAGE_UP      &kp LC(T)                  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &kp NUMBER_7  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans                     &trans  &mkp MB1  &mo 5     &mkp MB2  &trans  &trans
&trans  &kp NUMBER_8  &kp J           &kp K           &kp L            &trans     &trans  &trans  &trans  &trans    &mkp MB3  &trans    &trans  &trans
&trans  &trans        &trans          &trans          &trans           &trans     &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &sys_reset  &bootloader  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1    &mkp MB2     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans                &trans                &trans             &trans           &trans      &trans
&trans  &Start  &End    &trans  &trans  &trans                  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LC(UP_ARROW)      &kp F11               &trans             &kp LA(SPACE)    &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans                &trans             &trans           &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans                &trans             &trans           &trans      &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
